body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eafdff;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

nav {
    margin: 20px 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #0066cc;
}

nav a:hover {
    text-decoration: underline;
}

.section {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.section-title {
    font-size: 26px;
    margin-bottom: 15px;
}

.intro {
    font-size: 18px;
    margin-bottom: 20px;
}

.img-box {
    margin: 20px 0;
    overflow: hidden;
}

.img-box img {
    height: 170px;
    border-radius: 10px;
    float: left;
    margin-right: 20px;
}

.img-desc {
    font-size: 16px;
}

footer {
    background-color: #222;
    color: white;
    padding: 25px 0;
    margin-top: 40px;
}

footer p {
    text-align: center;
    margin: 0;
}